<script type="text/javascript">
	
	var MONSTER_CONFIG = {
		service_location: '/monster/'
	};
	
</script>

<script src="{{ MONSTER_MEDIA_URL }}js/jquery-ui-1.7.2.custom.min.js"></script>
<script src="{{ MONSTER_MEDIA_URL }}js/jquery.jeditable.js"></script>
<script src="{{ MONSTER_MEDIA_URL }}js/jquery.json-2.2.min.js"></script>
<script src="{{ MONSTER_MEDIA_URL }}js/jquery.ajaxfileupload.js"></script>
<script src="{{ MONSTER_MEDIA_URL }}js/jquery.shortkeys.js"></script>
<script src="{{ MONSTER_MEDIA_URL }}js/showdown.js"></script>
<script src="{{ MONSTER_MEDIA_URL }}js/monster.js"></script>
<script src="{{ MONSTER_MEDIA_URL }}js/monster.widgets.core.js"></script>
<script src="{{ MONSTER_MEDIA_URL }}js/monster.fields.core.js"></script>
<script src="{{ MONSTER_MEDIA_URL }}js/monster.django.js"></script>

<link rel="stylesheet" href="{{ MONSTER_MEDIA_URL }}css/theme/jquery-ui.css">
<link rel="stylesheet" href="{{ MONSTER_MEDIA_URL }}css/monster.django.css">
